.botWrapper {
  position: relative;
}
.wrapper {
  min-height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  height: 100px;
  width: 100px;
  z-index: 999;
  color: "#fff";
  overflow: hidden;
  position: relative;
  margin-right: 10px;
}

.wrapper#node-result {
  z-index: 1000;
  border: 1px solid red;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.pollContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}

.contentWrapper {
  height: 100%;
  width: 100%;
  padding: 5px 0;
}
.content {
  line-height: 90px;
  text-align: center;
  background: #364d79;
  color: "#fff" !important;
}

.btnWrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
