@import "../../../node_modules/nes.css/css/nes.css";

.botWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
}
.botWrapper .left{
  width: 100%;
}

.botWrapper .right{
  width: 600px;
  min-height: 500px;
  flex-shrink: 0;
}
.wrapper {
  width: 157px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 198px;
  left: 124px;
}

.container {
  height: 50px;
  width: 50px;
  z-index: 999;
  color: "#fff";
  overflow: hidden;
  position: relative;
}

.wrapper#node-result {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.pollContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}

.contentWrapper {
  height: 50px;
  width: 100%;
  margin-bottom: 5px;
}
.content {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(80, 85, 115);
  color:rgb(225, 190, 95);
  border: 3px solid rgb(225, 190, 95);
  font-size: 13px;
}

.btnWrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.bot{
  position: relative;
}

.bot >.bgc{
  width: 157px;
  height: 108px;
  background-color: rgb(80, 85, 115);
  position: absolute;
  top: 170px;
  left: 124px;
}


.bottom-margin{
  margin-bottom: 10px;
}

.list-custom{
 font-size: 12px;
}

.list-custom li{
  text-align: left;
}

.badges{
  position: absolute;
  top: 0;
  left: 0;
}

section .icons-custom{
  display: inline;
  margin-right: 10px !important; 
}